@charset "UTF-8";
*{
    margin:0;padding: 0 ;box-sizing: border-box;}
form{
    max-width: 500px;
    width: 70%;
    padding: 20%;
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(50,50) 
}
